.tipddy-form-box {
  margin: 0 auto;
  max-width: 940px !important;
  width: 100%;
  display: none;
  border-radius: 15px !important;
  background-image: url(../images/libreria-cba4.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
}

.tipddy-form-tit {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 38px;
  height: auto;
  width: 100%;
}

.tipddy-form-p {
  text-align: center;
  margin: 12px auto 36px auto;
  color: #fff;
  font-size: 20px;
}

.tipddy-form-container {
  display: flex;
  flex-direction: row;
}

.tipddy-col-6 {
  width: 50%;
  position: relative;
  float: left;
  padding: 0 10px;
}

.tipddy-label {
  width: 100%;
  text-align: start;
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
  color: #fff;
  font-size: 18px;
}

.tipddy-input {
  width: 100%;
  display: block;
  height: 50px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

.tipddy-input:focus-visible {
  outline: 2px solid #c0c0c0;
}

.tipddy-submit {
  display: block;
  margin: 20px auto;
  padding: 14px 38px;
  background-color: #f9bd13;
  color: #000;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.tipddy-submit:hover {
  color: #f9bd13;
  background-color: #000;
}

.tipddy-snackbar {
  position: fixed;
  bottom: 10px;
  left: -500px;
  transition: 0.5s ease;
  color: #fff;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  width: fit-content;
  z-index: 1000;
  border-radius: 10px;
}

.tipddy-snackbar.success {
  background-color: green;
}

.tipddy-snackbar.error {
  background-color: red;
}

.form-group-tipddy {
  width: 100%;
  padding: 10px;
}

@media screen and (max-width: 820px) {
  .tipddy-col-6 {
    width: 100%;
  }
  .tipddy-form-container {
    flex-direction: column;
  }
}
