@charset "UTF-8";
.imagen:hover {-webkit-transform:scale(1.05);transform:scale(1.05);transition:all .5s ease;border:1px solid #ffffff}
.contenedor {overflow:hidden;}
.imagen{transition:all .4s ease;}
body{
margin: 0;
padding: 0;
background-color: #232737;
}
.ancho{
width: 100%;
}
.tex-menu{
padding: 15px 0 0 0;
font-size: 17px;
}
.img-principal{
background-image: url(../images/tv/foto-prin.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 400px;
margin: 0;
}
.titulos-listado-videos{
font-family: Open-Bold ;
font-size: 30px;
color: #746452;
margin: 0;
padding: 0 0 5px 0;
}
.tex-listado-video{
font-family: Open-Light ;
font-size: 18px;
color: #727272;
margin: 0;
padding: 0 30px 0 30px;
}
.listado-video{
padding: 50px 0 50px 0;
}
.contenedor-video{
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
display:block;
}
.contenedor-video iframe,
.contenedor-video object,
.contenedor-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}		
.color-fon-video{
background-color: #000;
}
.titulos-listado-videos-int{
font-family: Open-Bold ;
font-size: 30px;
color: #746452;
margin: 0;
padding: 180px 30px 5px 30px;
}
.fondo-listado{
/* background-color: #000!important; */
background-color: #232737!important;
margin: 0;
border:0;
}	
.linea{
border-bottom: 1px solid #746452;
}	
.esp-listado-video{
padding: 15px;
}
.tit-sec-listado-video{
font-family: Open-Bold ;
font-size: 22px;
color: #f9f9f9;
margin: 0;
padding: 20px 0 5px 0;
font-weight: 900;
}
.tex-interior{
font-family: Open-Light ;
font-size: 18px;
color: #fff;
margin: 0;
padding: 10px 0px 0 0;
}
.bot-ver{
font-family: Open-Bold ;
font-size: 16px;
background-color:#f8fafc;
color: #000;
border-radius: 2px;
border: 0;
}
.bot-ver:hover{
background-color:#f8fafc;
color: #000;
}
.listado{
float: left;
padding: 0 10px 0 0;
list-style: none;
color: #fff;
}
.list{
margin: 0;
padding: 0;
}
.marg{
margin: 300px 0 0 0;
}
.catego{
font-family: Open-Light ;
font-size: 13px;
color: #fff;
margin: 0;
padding: 10px 0px 0 0;
}
.img-principal-interior{
/* background-image: url(../images/tv/fon-interior.jpg); */
background-size: cover;
background-repeat: no-repeat;
height: 600px;
margin: 0;
}
.esp-box{
margin: 0 0 20px 0;
}
@media screen and (min-width: 1300px) and (max-width: 4000px) {
.img-principal-interior{
background-image: url(../images/tv/fon-interior.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 750px;
margin: 0;
}
.marg{
margin: 450px 0 0 0;
}
}
@media screen and (min-width: 0px) and (max-width: 812px) {
.esp-listado-cel{
margin: 0 0 20px 0;
}
.titulos-listado-videos-int{
font-family: Open-Bold ;
font-size: 18px;
color: #746452;
margin: 0;
padding: 0 0px 5px 0px;
}
.tex-listado-video{
font-family: Open-Light ;
font-size: 15px;
color: #727272;
margin: 0;
padding: 0 0 0 0;
}
.tit-sec-listado-video{
font-family: Open-Bold ;
font-size: 22px;
color: #FFF;
margin: 0;
padding: 20px 0 5px 0;
}
.img-principal{
background-image: url(../images/tv/foto-prin-cel.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 300px;
margin: 0;
}
.img-principal-interior{
background-image: url(../images/tv/fon-interior.jpg);
background-size: cover;
background-repeat: no-repeat;
height: auto;
margin: 0;
}
}